<style>
.container.aboutPg{
    background-color: #fff;
    -webkit-box-shadow: 1px 2px 68px 6px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 1px 2px 68px 6px rgba(0, 0, 0, 0.22);
    box-shadow: 1px 2px 68px 6px rgba(0, 0, 0, 0.22);
    padding: 30px;
    margin: 50px auto;
    color: #35657b;
}
</style>



<div class="home-header">
  <h1>About</h1>
</div>

<div class="container aboutPg">


<p>RepsEdge is a team of former admissions representatives and high school guidance personnel who are dedicated to incorporating smart technology to the college recruitment process. Our team has firsthand knowledge on organizing travel and the complexity of scheduling hundreds of visits within a travel region. Our goal is to provide admissions representatives with advanced tools to enhance their profession.</p>


<strong>Our Data</strong>

<ul>
	<li>Research procedures / Research Sources</li>
		<ul>
			<li>The data on RepsEdge was compiled using multiple sources which include statistics from school and state report cards, the student national clearinghouse, school websites and other various public outlets.</li>
			 <li>The state averages were from state public databases</li>
		 </ul>
	<li>Updating data</li>
	<ul>
		<li>RepsEdge is committed to updating school data on an bi-annual basis. At times data may be updated more frequently when available. See something that needs updating? Let us know at info@repsedge.com.</li>
	</ul>
	<li>Disclaimer</li>
	<ul>
		<li>We do not claim that data found on the website is 100% accurate. Due to the nature of the high school environments, data and contact information is rapidly changing. We do our best to provide the most up to date information. If you find an error please feel free to report it to info@repsedge.com and we will work to update it as soon as possible. You may also see that some data is not available. If you have missing data, let us know and we will verify and update the data.</li>
		<li>SAT is a registered Trademark of College Board</li>
		<li>ACT is a registered Trademark of ACT</li>
	</ul>
</ul>







</div>