<table class="table-striped">	
	<thead>
		<tr>
			<th>name</th>
			<th>county</th>
			<th>address</th>
			<th>city</th>
			<th>state_abbreviation</th>
			<th>zip_code</th>
			<th>ceeb</th>
			<th>hs_phone_num</th>
			<th>guidance_phone_num</th>
			<th>website</th>
			<th>calendar_url</th>
			<th>latitude</th>
			<th>longitude</th>
			<th>hs_type</th>
			<th>classification</th>
			<th>students_count</th>
			<th>seniors_count</th>
			<th>percent_male</th>
			<th>percent_female</th>
			<th>percent_asian_am</th>
			<th>percent_african_am</th>
			<th>percent_white</th>
			<th>percent_hispanic_am</th>
			<th>percent_other</th>
			<th>reduced_lunch</th>
			<th>four_year_school</th>
			<th>magnet</th>
			<th>charter</th>
			<th>capstone</th>
			<th>intl_bacc</th>
			<th>boarding</th>
			<th>sat_total</th>
			<th>sat_math</th>
			<th>sat_reading</th>
			<th>sat_writing</th>
			<th>act</th>
			<th>median_income</th>
			<th>created_at</th>
			<th>updated_at</th>
			<th>religion</th>
			<th>graduation_rate</th>
			<th>guidance_url</th>
			<th>state_id</th>
			<th>guidance_phone_num_ext</th>
			<th>repsedge_id</th>
		</tr>
	</thead>
	<tbody>
		<% @high_schools.each do |high_school| %>
			<tr>
				<td>high_school.name</td>
				<td>high_school.county</td>
				<td>high_school.address</td>
				<td>high_school.city</td>
				<td>high_school.state_abbreviation</td>
				<td>high_school.zip_code</td>
				<td>high_school.ceeb</td>
				<td>high_school.hs_phone_num</td>
				<td>high_school.guidance_phone_num</td>
				<td>high_school.website</td>
				<td>high_school.calendar_url</td>
				<td>high_school.latitude</td>
				<td>high_school.longitude</td>
				<td>high_school.hs_type</td>
				<td>high_school.classification</td>
				<td>high_school.students_count</td>
				<td>high_school.seniors_count</td>
				<td>high_school.percent_male</td>
				<td>high_school.percent_female</td>
				<td>high_school.percent_asian_am</td>
				<td>high_school.percent_african_am</td>
				<td>high_school.percent_white</td>
				<td>high_school.percent_hispanic_am</td>
				<td>high_school.percent_other</td>
				<td>high_school.reduced_lunch</td>
				<td>high_school.four_year_school</td>
				<td>high_school.magnet</td>
				<td>high_school.charter</td>
				<td>high_school.capstone</td>
				<td>high_school.intl_bacc</td>
				<td>high_school.boarding</td>
				<td>high_school.sat_total</td>
				<td>high_school.sat_math</td>
				<td>high_school.sat_reading</td>
				<td>high_school.sat_writing</td>
				<td>high_school.act</td>
				<td>high_school.median_income</td>
				<td>high_school.created_at</td>
				<td>high_school.updated_at</td>
				<td>high_school.religion</td>
				<td>high_school.graduation_rate</td>
				<td>high_school.guidance_url</td>
				<td>high_school.state_id</td>
				<td>high_school.guidance_phone_num_ext</td>
				<td>high_school.repsedge_id</td>
			</tr>
		<% end %>
	</tbody>
</table>


