<div id="institution-select" class="registration-institution-select-container">
  <%= render(partial: "devise/registrations/institution_select", locals: { states: @states, institutions: @institutions } ) %>
</div>

 