<div class="error404-container row">

	<div class="error404-message">

	<h1 class="text-center">We're Sorry!</h1>
	<h2 class="text-center">Internal Server Error</h2>

		<%= image_tag("500.png", alt: '500 Image', class: "img-responsive") %>

		<%= link_to	"Back", root_path, { :class=>"btn" } %>

	</div>

</div>