<div class="container-fluid home-main-container">
	<div class="row-fluid">
		<div class="span8 offset2">
			<div class="home-search-container">
				<%= render(partial: 'high_schools/home_search',locals: { states: @states }) %>
			</div>
		</div>	
	</div>
</div>