$darkBlue: #35657b;
$lightBlue: #79c3e2;
$greyText: #6e6e6e;
$darkOrange: #f79548;
$confirmed_visit: #456f88;
$confirmed_visit_rollover: #73B9E3;
$tentative_visit: #B61F1F;
$tentative_visit_rollover: #F02929;
$other_visit_color: #615177;


